# Import and Scrape

In [1]:
from requests import get

First I will set the initial page to scrape and print out the first 500 characters of the text of response, which here is just pure HTML so far.

In [2]:
sci_fi_page1 = "https://www.imdb.com/search/title?genres=sci-fi&explore=title_type,genres&ref_=adv_prv"

response = get(sci_fi_page1)
print(response.text[:500])

<!DOCTYPE html>
<html
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-itunes-app" content="app-id=342792525, app-argument=imdb:///?src=mdot">



        <script type="text/javascript">var IMDbTimer={starttime: new Date().getTime(),pt:'java'};</script>

<script>
    if (typeof uet == 'function') {
      uet("bb", "LoadTitle",

In [3]:
from bs4 import BeautifulSoup

Next, I pass in the response text with the argument stating that I want to use Python's built-in HTML parser to create a, well, beautiful soup. I checked the type here.

In [4]:
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

Now I need to find the containers that contain the movie information on the page in order to drill down further in the tags to get that specific `<a href="..."></a>`
tag containing the movie title.

In [5]:
sci_fi_containers = html_soup.find_all('div', class_= 'lister-item mode-advanced')
print(type(sci_fi_containers)) #to double check that I got a ResultSet
print(len(sci_fi_containers)) #to double check I got 50 (elements/page)

<class 'bs4.element.ResultSet'>
50

First I will make sure I can flawlessly capture the data from the first movie in the list before scaling. The first movie is item zero in the ResultSet `sci_fi_containers`.

In [8]:
movie_one = sci_fi_containers[0]
movie_one

<div class="lister-item mode-advanced">
<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt2737304"></div>
</div>
<div class="lister-item-image float-left">
<a href="/title/tt2737304/?ref_=adv_li_i"> <img alt="Bird Box" class="loadlate" data-tconst="tt2737304" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BMjAzMTI1MjMyN15BMl5BanBnXkFtZTgwNzU5MTE2NjM@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB470041630_.png" width="67"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt2737304/?ref_=adv_li_tt">Bird Box</a>
<span class="lister-item-year text-muted unbold">(2018)</span>
</h3>
<p class="text-muted ">
<span class="certificate">R</span>
<span class="ghost">|</span>
<span class="runtime">124 min</span>
<span class="ghost">|</span>
<span class="genre">
Drama, Horror, Sci-Fi            </span>
</p>
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" data-value="6.7" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>6.7</strong>
</div>
<div class="inline-block ratings-user-rating">
<span class="userRatingValue" data-tconst="tt2737304" id="urv_tt2737304">
<span class="global-sprite rating-star no-rating"></span>
<span class="rate" data-no-rating="Rate this" data-value="0" name="ur">Rate this</span>
</span>
<div class="starBarWidget" id="sb_tt2737304">
<div class="rating rating-list" data-auth="" data-ga-identifier="" data-starbar-class="rating-list" data-user="" id="tt2737304|imdb|6.7|6.7|||advsearch|title" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="Users rated this 6.7/10 (151,586 votes) - click stars to rate">
<meta content="6.7" itemprop="ratingValue"/>
<meta content="10" itemprop="bestRating"/>
<meta content="151586" itemprop="ratingCount"/>
<span class="rating-bg"> </span>
<span class="rating-imdb " style="width: 93.8px"> </span>
<span class="rating-stars">
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>1</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>2</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>3</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>4</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>5</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>6</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>7</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>8</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>9</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>10</span></a>
</span>
<span class="rating-rating "><span class="value">6.7</span><span class="grey">/</span><span class="grey">10</span></span>
<span class="rating-cancel "><a href="/title/tt2737304/vote?v=X;k=" rel="nofollow" title="Delete"><span>X</span></a></span>
 </div>
</div>
</div>
<div class="inline-block ratings-metascore">
<span class="metascore mixed">51        </span>
        Metascore
            </div>
</div>
<p class="text-muted">
    Five years after an ominous unseen presence drives most of society to suicide, a mother and her two children make a desperate bid to reach safety.</p>
<p class="">
    Director:
<a href="/name/nm0081540/?ref_=adv_li_dr_0">Susanne Bier</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm0000113/?ref_=adv_li_st_0">Sandra Bullock</a>,
<a href="/name/nm5218990/?ref_=adv_li_st_1">Trevante Rhodes</a>,
<a href="/name/nm0000518/?ref_=adv_li_st_2">John Malkovich</a>,
<a href="/name/nm0005299/?ref_=adv_li_st_3">Sarah Paulson</a>
</p>
<p class="sort-num_votes-visible">
<span class="text-muted">Votes:</span>
<span data-value="151586" name="nv">151,586</span>
</p>
</div>
</div>

`sci_fi_containers` is an overarching `<div>` tag, of which there are 50. Underneath that, is a `<div>` tag minus the movie cover image and such on the floating left element. The title of the movie is an `<a>` tag embedded under an `<h3>` tag, so we can stack bs4 methods `.h3` and `.a`, and finally `.text` to get at the string `'Bird Box'`, the number one for Sci-Fi as of 1/17/19.

In [9]:
movie_one.h3.a.text

'Bird Box'

Next I will grab the year of the first movie, rating, runtime, genre, IMDB rating, metascore, and number of votes.

In [10]:
movie_one_year = movie_one.h3.find('span', class_= 'lister-item-year text-muted unbold')

In [11]:
movie_one_year.text

'(2018)'

In [12]:
movie_one_rating = movie_one.p.find('span', class_= 'certificate')

In [13]:
movie_one_rating.text

'R'

In [14]:
movie_one_runtime = movie_one.p.find('span', class_ = 'runtime')
movie_one_runtime.text

'124 min'

In [15]:
movie_one_genre = movie_one.p.find('span', class_ = 'genre')
movie_one_genre.text

'\nDrama, Horror, Sci-Fi            '

In [16]:
movie_one_imdb_rating = float(movie_one.strong.text)
movie_one_imdb_rating

6.7

In [17]:
movie_one_metascore = movie_one.find('span', class_ = 'metascore mixed')
movie_one_metascore = int(movie_one_metascore.text)
movie_one_metascore

51

In [18]:
#name is a different kind of attribute from class, it requires a dictionary
movie_one_votes = movie_one.find('span', attrs = {'name':'nv'})
movie_one_votes = movie_one_votes['data-value'] #this is without a comma so saves on cleaning later on
movie_one_votes = int(movie_one_votes)
movie_one_votes

151586

Next, I'll remove movies that don't have a metascore to save time later dealing with missing values. The first movie without a metascore is number 6 right now so I will grab that one to see the NoneType and use a conditional around that data type.

In [19]:
first_missing_metascore = sci_fi_containers[6].find('div', class_ = 'ratings-metascore')
type(first_missing_metascore)

NoneType

Next, I will prepare the loop for the first 50 movies.

In [20]:
#initialize empty lists to store the variables scraped
titles = []
years = []
ratings = []
genres = []
runtimes = []
imdb_ratings = []
metascores = []
votes = []

#extract data itemwise
for container in sci_fi_containers:
    
    #conditional for all with metascore
    if container.find('div', class_ = 'ratings-metascore') is not None:
        
        #title
        title = container.h3.a.text
        titles.append(title)
        
        #year released
        year = container.h3.find('span', class_= 'lister-item-year text-muted unbold').text
        years.append(year)
        
        #rating
        rating = container.p.find('span', class_= 'certificate').text
        ratings.append(rating)
        
        #genre
        genre = container.p.find('span', class_ = 'genre').text
        genres.append(genre)
        
        #runtime
        time = container.p.find('span', class_ = 'runtime').text
        runtimes.append(time)
        
        #IMDB ratings
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
        
        #Metascore
        m_score = container.find('span', class_ = 'metascore').text
        metascores.append(int(m_score))

        #Number of votes
        vote = container.find('span', attrs = {'name':'nv'})['data-value']
        votes.append(int(vote))

Don't forget to check your work!

In [21]:
import pandas as pd

test_df = pd.DataFrame({'movie': titles,
                       'year': years,
                       'rating': ratings,
                       'genre': genres,
                       'runtime': runtimes,
                       'imdb': imdb_ratings,
                       'metascore': metascores,
                       'votes': votes})
print(test_df.info())
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
movie        21 non-null object
year         21 non-null object
rating       21 non-null object
genre        21 non-null object
runtime      21 non-null object
imdb         21 non-null float64
metascore    21 non-null int64
votes        21 non-null int64
dtypes: float64(1), int64(2), object(5)
memory usage: 964.0+ bytes
None

,movie,year,rating,genre,runtime,imdb,metascore,votes
0,Bird Box,(2018),R,"\nDrama, Horror, Sci-Fi",124 min,6.7,51,151586
1,Aquaman,(2018),PG-13,"\nAction, Adventure, Fantasy",143 min,7.5,55,131703
2,Glass,(2019),PG-13,"\nDrama, Mystery, Sci-Fi",129 min,7.4,42,7019
3,Spider-Man: Into the Spider-Verse,(2018),PG,"\nAnimation, Action, Adventure",117 min,8.7,87,79794
4,Bumblebee,(2018),PG-13,"\nAction, Adventure, Sci-Fi",114 min,7.3,66,34919

Awesome, it worked. But there are 142,000+ movies in the Sci-Fi genre. I want more! Let's look at what parameters need to be passed to send requests for the next page(s) and not forget to control the requests so we don't bombard the server.

In [22]:
from time import sleep
from random import randint

In [29]:
from warnings import warn
from time import time
from IPython.core.display import clear_output
import numpy as np

#for this example, I only have it running as 
pages = np.arange(1, 101, 50) #can only go to 10000 items because after that the URI ha no discernable distinction
pages

#initialize empty lists to store the variables scraped
titles = []
years = []
ratings = []
genres = []
runtimes = []
imdb_ratings = []
metascores = []
votes = []

iterations = 0

for page in pages:
    
    #get request
    response = get("https://www.imdb.com/search/title?genres=sci-fi&" 
                   + "start=" 
                   + str(page) 
                   + "&explore=title_type,genres&ref_=adv_prv")
    
    sleep(randint(8,15))
     
    #throw warning for status codes that are not 200
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(requests, response.status_code))

    #parse the content of current iteration of request
    page_html = BeautifulSoup(response.text, 'html.parser')
        
    movie_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
    
    #extract the 50 movies for that page
    for container in movie_containers:

        #conditional for all with metascore
        if container.find('div', class_ = 'ratings-metascore') is not None:

            #title
            title = container.h3.a.text
            titles.append(title)

            #year released
            year = container.h3.find('span', class_= 'lister-item-year text-muted unbold').text
            years.append(year)

            #rating
            rating = container.p.find('span', class_= 'certificate').text
            ratings.append(rating)

            #genre
            genre = container.p.find('span', class_ = 'genre').text
            genres.append(genre)

            #runtime
            time = container.p.find('span', class_ = 'runtime').text
            runtimes.append(time)

            #IMDB ratings
            imdb = float(container.strong.text)
            imdb_ratings.append(imdb)

            #Metascore
            m_score = container.find('span', class_ = 'metascore').text
            metascores.append(int(m_score))

            #Number of votes
            vote = container.find('span', attrs = {'name':'nv'})['data-value']
            votes.append(int(vote))
    iterations += 1
    print("Finished iteration: " + str(iterations))

Finished iteration: 1
Finished iteration: 2

In [30]:
#timer didn't work, so an unelegant calculation of approx. runtime for the full dataset of 9,999 items
num_full_iterations = 9951/50

avg_iteration = np.mean([16.34, 11.52, 14.71, 16.22])
avg_iteration

num_minutes = (avg_iteration/60)*num_full_iterations
num_minutes #approximate

48.751607500000006

In [31]:
test_df = pd.DataFrame({'movie': titles,
                       'year': years,
                       'rating': ratings,
                       'genre': genres,
                       'runtime_min': runtimes,
                       'imdb': imdb_ratings,
                       'metascore': metascores,
                       'votes': votes})
print(test_df.info())
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 8 columns):
movie          45 non-null object
year           45 non-null object
rating         45 non-null object
genre          45 non-null object
runtime_min    45 non-null object
imdb           45 non-null float64
metascore      45 non-null int64
votes          45 non-null int64
dtypes: float64(1), int64(2), object(5)
memory usage: 2.0+ KB
None

,movie,year,rating,genre,runtime_min,imdb,metascore,votes
0,Bird Box,(2018),R,"\nDrama, Horror, Sci-Fi",124 min,6.7,51,151586
1,Aquaman,(2018),PG-13,"\nAction, Adventure, Fantasy",143 min,7.5,55,131703
2,Glass,(2019),PG-13,"\nDrama, Mystery, Sci-Fi",129 min,7.4,42,7019
3,Spider-Man: Into the Spider-Verse,(2018),PG,"\nAnimation, Action, Adventure",117 min,8.7,87,79794
4,Bumblebee,(2018),PG-13,"\nAction, Adventure, Sci-Fi",114 min,7.3,66,34919

In [32]:
test_df.loc[:, 'year'] = test_df['year'].str[-5:-1].astype(int)

In [33]:
#there are no crazy looking outliers, so we are good here
test_df.describe().loc[['min', 'max'], ['imdb', 'metascore']]

     imdb  metascore
min   5.0       18.0
max   8.8       90.0

In [35]:
#get imdb rating into the same scale as metascore to be able to compare them
test_df['n_imdb'] = test_df['imdb'] * 10
test_df.head(3)

,movie,year,rating,genre,runtime_min,imdb,metascore,votes,n_imdb
0,Bird Box,2018,R,"\nDrama, Horror, Sci-Fi",124 min,6.7,51,151586,67.0
1,Aquaman,2018,PG-13,"\nAction, Adventure, Fantasy",143 min,7.5,55,131703,75.0
2,Glass,2019,PG-13,"\nDrama, Mystery, Sci-Fi",129 min,7.4,42,7019,74.0

In [36]:
#remove " min" from the end of the runtime variable and make them integers
test_df['runtime_min'] = test_df['runtime_min'].apply(lambda x: x.replace(" min", "")).apply(lambda x: int(x))

In [37]:
test_df['genre'] = test_df['genre'].apply(lambda x: x.replace("\n", ""))

In [38]:
test_df['n_imdb'] = test_df['n_imdb'].apply(lambda x: int(x))
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 9 columns):
movie          45 non-null object
year           45 non-null int32
rating         45 non-null object
genre          45 non-null object
runtime_min    45 non-null int64
imdb           45 non-null float64
metascore      45 non-null int64
votes          45 non-null int64
n_imdb         45 non-null int64
dtypes: float64(1), int32(1), int64(4), object(3)
memory usage: 2.5+ KB

In [39]:
test_df.head()

,movie,year,rating,genre,runtime_min,imdb,metascore,votes,n_imdb
0,Bird Box,2018,R,"Drama, Horror, Sci-Fi",124,6.7,51,151586,67
1,Aquaman,2018,PG-13,"Action, Adventure, Fantasy",143,7.5,55,131703,75
2,Glass,2019,PG-13,"Drama, Mystery, Sci-Fi",129,7.4,42,7019,74
3,Spider-Man: Into the Spider-Verse,2018,PG,"Animation, Action, Adventure",117,8.7,87,79794,87
4,Bumblebee,2018,PG-13,"Action, Adventure, Sci-Fi",114,7.3,66,34919,73

In [40]:
test_df['genre'] = test_df['genre'].apply(lambda x: x.rstrip())

In [42]:
#don't need the non-standardized imdb column
test_df.drop(columns='imdb')
test_df.head()

,movie,year,rating,genre,runtime_min,imdb,metascore,votes,n_imdb
0,Bird Box,2018,R,"Drama, Horror, Sci-Fi",124,6.7,51,151586,67
1,Aquaman,2018,PG-13,"Action, Adventure, Fantasy",143,7.5,55,131703,75
2,Glass,2019,PG-13,"Drama, Mystery, Sci-Fi",129,7.4,42,7019,74
3,Spider-Man: Into the Spider-Verse,2018,PG,"Animation, Action, Adventure",117,8.7,87,79794,87
4,Bumblebee,2018,PG-13,"Action, Adventure, Sci-Fi",114,7.3,66,34919,73

In [47]:
from sqlalchemy import create_engine
import sqlite3
engine = create_engine('sqlite://', echo=False)

In [48]:
test_df.to_sql('movies', con=engine)

In [49]:
engine.execute("SELECT * FROM movies").fetchall()

[(0, 'Bird Box', 2018, 'R', 'Drama, Horror, Sci-Fi', 124, 6.7, 51, 151586, 67),
 (1, 'Aquaman', 2018, 'PG-13', 'Action, Adventure, Fantasy', 143, 7.5, 55, 131703, 75),
 (2, 'Glass', 2019, 'PG-13', 'Drama, Mystery, Sci-Fi', 129, 7.4, 42, 7019, 74),
 (3, 'Spider-Man: Into the Spider-Verse', 2018, 'PG', 'Animation, Action, Adventure', 117, 8.7, 87, 79794, 87),
 (4, 'Bumblebee', 2018, 'PG-13', 'Action, Adventure, Sci-Fi', 114, 7.3, 66, 34919, 73),
 (5, 'Escape Room', 2019, 'PG-13', 'Drama, Mystery, Sci-Fi', 99, 6.4, 49, 4347, 64),
 (6, 'Replicas', 2018, 'PG-13', 'Crime, Mystery, Sci-Fi', 107, 5.5, 18, 5940, 55),
 (7, 'Avengers: Infinity War', 2018, 'PG-13', 'Action, Adventure, Fantasy', 149, 8.5, 68, 568940, 85),
 (8, 'Venom', 2018, 'PG-13', 'Action, Sci-Fi', 112, 6.8, 35, 213996, 68),
 (9, 'A Quiet Place', 2018, 'PG-13', 'Drama, Horror, Mystery', 90, 7.6, 82, 259774, 76),
 (10, 'Annihilation', 2018, 'R', 'Adventure, Drama, Horror', 115, 6.9, 79, 202045, 69),
 (11, 'Solo: A Star Wars Story', 2018, 'PG-13', 'Action, Adventure, Fantasy', 135, 7.0, 62, 193575, 70),
 (12, 'Unbreakable', 2000, 'PG-13', 'Drama, Mystery, Sci-Fi', 106, 7.3, 62, 319583, 73),
 (13, 'Black Panther', 2018, 'PG-13', 'Action, Adventure, Sci-Fi', 134, 7.4, 88, 444470, 74),
 (14, 'Mortal Engines', 2018, 'PG-13', 'Action, Adventure, Fantasy', 128, 6.4, 44, 21057, 64),
 (15, 'The Predator', 2018, 'R', 'Action, Adventure, Horror', 107, 5.4, 48, 77257, 54),
 (16, 'Ready Player One', 2018, 'PG-13', 'Action, Adventure, Sci-Fi', 140, 7.5, 64, 267189, 75),
 (17, 'Watchmen', 2009, 'R', 'Action, Drama, Mystery', 162, 7.6, 56, 445681, 76),
 (18, 'Deadpool 2', 2018, 'R', 'Action, Adventure, Comedy', 119, 7.8, 66, 335429, 78),
 (19, 'Justice League', 2017, 'PG-13', 'Action, Adventure, Fantasy', 120, 6.5, 45, 308395, 65),
 (20, 'Incredibles 2', 2018, 'PG', 'Animation, Action, Adventure', 118, 7.8, 80, 165421, 78),
 (21, 'Upgrade', 2018, 'R', 'Action, Sci-Fi, Thriller', 100, 7.6, 67, 82882, 76),
 (22, 'The Meg', 2018, 'PG-13', 'Action, Horror, Sci-Fi', 113, 5.7, 46, 92706, 57),
 (23, 'Thor: Ragnarok', 2017, 'PG-13', 'Action, Adventure, Comedy', 130, 7.9, 74, 423782, 79),
 (24, 'Ant-Man and the Wasp', 2018, 'PG-13', 'Action, Adventure, Comedy', 118, 7.1, 70, 183230, 71),
 (25, 'The House with a Clock in Its Walls', 2018, 'PG', 'Comedy, Family, Fantasy', 105, 6.1, 57, 24396, 61),
 (26, 'The Lobster', 2015, 'R', 'Comedy, Drama, Romance', 119, 7.1, 82, 169933, 71),
 (27, 'Jurassic World: Fallen Kingdom', 2018, 'PG-13', 'Action, Adventure, Sci-Fi', 128, 6.2, 51, 192062, 62),
 (28, 'Spider-Man: Homecoming', 2017, 'PG-13', 'Action, Adventure, Sci-Fi', 133, 7.5, 73, 384810, 75),
 (29, 'Interstellar', 2014, 'PG-13', 'Adventure, Drama, Sci-Fi', 169, 8.6, 74, 1250057, 86),
 (30, 'Inception', 2010, 'PG-13', 'Action, Adventure, Sci-Fi', 148, 8.8, 74, 1788681, 88),
 (31, 'Guardians of the Galaxy', 2014, 'PG-13', 'Action, Adventure, Comedy', 121, 8.1, 76, 902210, 81),
 (32, 'Star Wars: Episode VIII - The Last Jedi', 2017, 'PG-13', 'Action, Adventure, Fantasy', 152, 7.2, 85, 439671, 72),
 (33, 'Blade Runner 2049', 2017, 'R', 'Drama, Mystery, Sci-Fi', 164, 8.0, 81, 357242, 80),
 (34, 'Overlord', 2018, 'R', 'Action, Adventure, Horror', 110, 7.1, 60, 18338, 71),
 (35, 'Avengers: Age of Ultron', 2015, 'PG-13', 'Action, Adventure, Sci-Fi', 141, 7.4, 66, 624838, 74),
 (36, 'Isle of Dogs', 2018, 'PG-13', 'Animation, Adventure, Comedy', 101, 7.9, 82, 90368, 79),
 (37, 'Guardians of the Galaxy Vol. 2', 2017, 'PG-13', 'Action, Adventure, Comedy', 136, 7.7, 67, 438363, 77),
 (38, 'Suicide Squad', 2016, 'PG-13', 'Action, Adventure, Fantasy', 123, 6.1, 40, 511910, 61),
 (39, 'Wonder Woman', 2017, 'PG-13', 'Action, Adventure, Fantasy', 141, 7.5, 76, 460909, 75),
 (40, 'Mad Max: Fury Road', 2015, 'R', 'Action, Adventure, Sci-Fi', 120, 8.1, 90, 756252, 81),
 (41, 'Sorry to Bother You', 2018, 'R', 'Comedy, Fantasy, Sci-Fi', 111, 7.0, 80, 30468, 70),
 (42, 'Rampage', 2018, 'PG-13', 'Action, Adventure, Sci-Fi', 107, 6.1, 45, 102031, 61),
 (43, 'The Avengers', 2012, 'PG-13', 'Action, Adventure, Sci-Fi', 143, 8.1, 69, 1144512, 81),
 (44, 'How It Ends', 2018, 'TV-MA', 'Action, Adventure, Drama', 113, 5.0, 36, 32565, 50)]